Django==1.5.1
mysql-python==1.2.4
South==0.8.1
#django-htmlmin==0.6
#PyHamcrest==1.7.1
#uwsgi==1.9.11
#-e hg+https://bitbucket.org/ubernostrum/django-registration@b3c41b3#egg=Package
-e hg+https://dgrant@bitbucket.org/dgrant/django-registration#egg=Package
