{% extends "base.html" %}
 
{% load widget_tweaks %}

{% block title %}Register{% endblock %}

{% block content %}

    <div class="container">

      <form class="form form-horizontal" style="max-width:500px;" method="post" action="{% url "registration_register" %}">{% csrf_token %}
          <fieldset>
        <h2 class="form-heading">To register, please fill in the form below:</h2>

        <div class="control-group{% if form.username.errors %} error{% endif %}">
          <label class="control-label" for="id_username">{{ form.username.label }}</label>
          <div class="controls">

           {% render_field form.username  placeholder=form.username.label %}
              {% if form.username.errors %}
               <span class="help-inline">{% for error in form.username.errors %}{{ error }}{% endfor %}</span>
              {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.email.errors %} error{% endif %}">
          <label class="control-label" for="id_email">{{ form.email.label }}</label>
          <div class="controls">

           {% render_field form.email  placeholder=form.email.label %}
              {% if form.email.errors %}
               <span class="help-inline">{% for error in form.email.errors %}{{ error }}{% endfor %}</span>
              {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.password1.errors %} error{% endif %}">
          <label class="control-label" for="id_password1">{{ form.password1.label }}</label>
          <div class="controls">

           {% render_field form.password1  placeholder=form.password1.label %}
              {% if form.password1.errors %}
               <span class="help-inline">{% for error in form.password1.errors %}{{ error }}{% endfor %}</span>
              {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.password2.errors %} error{% endif %}">
          <label class="control-label" for="id_password2">{{ form.password2.label }}</label>
          <div class="controls">

           {% render_field form.password2  placeholder=form.password2.label %}
              {% if form.password2.errors %}
               <span class="help-inline">{% for error in form.password2.errors %}{{ error }}{% endfor %}</span>
              {% endif %}
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-large btn-primary" type="submit">Submit</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
       </fieldset>
      </form>

    </div> <!-- /container -->


{% endblock %}
