{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Add Link{% endblock %}

{% block content %}

    <div class="container">
      <form class="form form-horizontal" style="max-width: 500px" method="post" action="">
        {% csrf_token %}
        <fieldset>
        <h2 class="form-heading">Add Link</h2>

        <div class="control-group{% if form.title.errors %} error{% endif %}">
            <label class="control-label" for="id_title">{{ form.title.label }}</label>
            <div class="controls">
               {% render_field form.title  placeholder=form.title.label %}
               {% if form.title.errors %}
               <span class="help-inline">{% for error in form.title.errors %}{{ error }}{% endfor %}</span>
               {% endif %}
            </div>
        </div>

        <div class="control-group{% if form.text.errors %} error{% endif %}">
            <label class="control-label" for="id_text">{{ form.text.label }}</label>
            <div class="controls">
              {% render_field form.text placeholder=form.text.label rows="3" %}
              {% if form.text.errors %}
              <span class="help-inline">{% for error in form.text.errors %}{{ error }}{% endfor %}</span>
              {% endif %}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="id_category">{{ form.category.label }}</label>
            <div class="controls">
              {% render_field form.category placeholder=form.category.label %}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="id_media_type">{{ form.media_type.label }}</label>
            <div class="controls">
              {% render_field form.media_type placeholder=form.media_type.label %}
          </div>
        </div>

        <div class="control-group{% if form.media_id.errors %} error{% endif %}">
            <label class="control-label" for="id_media_id">{{ form.media_id.label }}</label>
            <div class="controls">
              {% render_field form.media_id placeholder=form.media_id.label %}
               {% if form.media_id.errors %}
               <span class="help-inline">{% for error in form.title.errors %}{{ error }}{% endfor %}</span>
               {% endif %}

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="id_new_categories">{{ form.new_categories.label }}</label>
            <div class="controls">
              {% render_field form.new_categories placeholder=form.new_categories.label %}
              <span class="help-inline">NOTE: Separate new categories with commas.</span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
              <label class="checkbox" for="id_private">{{ form.private.label }}
                {% render_field form.private placeholder=form.private.label %}
              </label>
            </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-large btn-primary" type="submit">Add</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
      </form>

    </div> <!-- /container -->


</form>

{% endblock %}
