{% extends "links/link_list.html" %}
{% block title %}Browse Links{% endblock %} 
{% block heading %}My Links{% endblock %}
{% block subheading %}
Here are the links you have added!
{% endblock %}

{% block categories %}
  <ul class="nav nav-list"> 
    <li class="nav-header">Categories</li> 
    {% for category in categories %}
    <li{% if category.get_mylinks_url == request.path %} class="active"{% endif %}><a href="{% url "mylinks" %}category/{{category.slug}}">{{category.name}}</a></li>
    {% endfor %}
  </ul><!--/.nav-->
{% endblock %}
