{% extends "links/link_list.html" %}
{% block title %}Browse Links{% endblock %} 
{% block heading %}Kids Stuff{% endblock %}
{% block subheading %}
{% if user.is_authenticated %}
Check out all the videos that have been uploaded by other users!
{% else %}
Check out all the videos that have been added by our users!<br />To add your own links of your own (including videos you want kept private), please <a href="{% url 'registration_register' %}">register</a>.
{% endif %}
{% endblock %}

  {% block categories %}
            <ul class="nav nav-list"> 
              <li class="nav-header">Categories</li> 
                <!--<li class="active"><a href="#">Link</a></li> -->
                {% for category in categories %}
                <li><a href="{% url "browse_category" category_slug=category.slug %}">{{category.name}}</a></li>
                {% endfor %}
              </ul><!--/.nav-->

   {% endblock %}
